p = "Estimado/a #{@user.name},"
p = "Su permiso '#{@user.reason}' fue solicitado de manera correcta."
p = "Hora Inicio: #{@user.starts_at.to_date} #{@user.starts_at.strftime("%I:%M%p")}"
p = "Hora Termino: #{@user.ends_at.to_date} #{@user.ends_at.strftime("%I:%M%p")}"
